@model IEnumerable<DSCC.CW1.Frontend._14714.Models.MembershipPlan>

@{
    ViewBag.Title = "Membership Plans";
}

<h2>Membership Plans</h2>


<div class="mb-3">
    @Html.ActionLink("Create New Membership Plan", "Create", "MembershipPlan", null, new { @class = "btn btn-primary" })&nbsp;
    @Html.ActionLink("Manage Members", "Index", "Member", null, new { @class = "btn btn-secondary ml-2" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>Plan Name</th>
            <th>Cost</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PlanName</td>
                <td>@item.Cost.ToString("C")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PlanId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PlanId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PlanId })
                </td>
            </tr>
        }
    </tbody>
</table>
